/* Отображение страницы */
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 90px;
}

footer {
    padding: 20px;
    background: #333a41;
    color: #f1efef;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Отображение постов */
div.post {
    box-shadow: 1px 1px 7px 0px;
    padding: 20px;
}

div.aside {
    width: 100%;
}

div.post {
    position: relative;
}

.read {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* Кнопки на странице поста */
a:hover {
    text-decoration: none;
}

a.del {
    color: rgb(148, 0, 0);
}

/* Пагинация */
a.arrow {
    font-size: 20px;
    line-height: 22px;
}

/* Стили авторизации и регистрации */
ul {
    margin: 0;
    list-style-type: none;
}